<% include partials/_header %>
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <main class="px-3">
    <h1>Bases de datos - CRUD Firebird</h1>
    <p class="lead">Conexión establecida con la base de datos</p>
  </main>

</div>

<% include partials/_footer %>
