<% include partials/_header %>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <td>N°</td>
            <td>Identificación</td>
            <td>Nombre</td>
            <td>Actions</td>
          </tr>
        </thead>
        <tbody>
          <% if (data) { %>
            <% for(var i = 0; i < data.length; i++) { %>
              <tr>
                <td><%= (i + 1) %></td>
                <td><%= data[i].ID %></td>
                <td><%= data[i].NOM %></td>
                <td>
                  <a href="verhijos/<%= data[i].ID %>" class="btn btn-primary">Ver hijos</a>
                </td>
              </tr>
            <% } %>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<% include partials/_footer %>
